body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    background-color: peachpuff;
    color: #000000;
    text-align: center;
    padding: 15px;
}

#search-section {
    text-align: center;
    margin-top: 20px;
}

#search-form {
    display: inline-block;
    margin: 0 auto;
}

label {
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#current-weather, #forecast {
    margin: 20px auto;
    max-width: 800px;
    padding: 15px;
    background-color: #f9f9f9; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

#weather-info {
    display: flex;
    justify-content: space-around;
    background-color: lightgoldenrodyellow;
    
}

#weather-info, #forecast-info {
    display: flex;
    justify-content: space-around;
}

.forecast-item {
    flex-basis: calc(20% - 20px); 
    margin: 10px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#recent-cities {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

#recent-cities-list {
    list-style: none;
    padding: 0;
}

#recent-cities-list li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#recent-cities-list li:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    #search-section {
        margin-top: 10px; 
    }

    #search-form {
        width: 100%; 
    }

    input[type="text"] {
        width: 100%; 
    }

    
}

